body {
    width: 900px;
    /* Colors */
    --main-inner-color: #36393F;
    --main-inner-channels-color: #2f3136;
    --main-inner-channels-channel-color: #FFFFFF;
    --main-inner-channels-channel-background-color: rgba(79, 84, 92, 0.32);
    --main-inner-channels-channel-background-color-hover: rgba(79, 84, 92, 0.16);
    --main-inner-channels-member-list-color: #FFFFFF;
    --main-inner-channels-voice-controls-content-background-color: #292b2f;
    --main-inner-channels-voice-controls-content-color: #43b581;
    --main-inner-channels-voice-controls-button-color: #b9bbbe;
    --main-inner-channels-voice-controls-button-background-hover: #4f545c;
    --inner-messages-scrollbar-track-color: #3F463DC0;
    --main-inner-messages-scrollbar-thumb-color: #202225;
    --main-inner-mention-box-color: #2F3136;
    --main-inner-mention-box-title-color: #B9BBBE;
    --main-inner-mention-box-content-color: #FFFFFF;
    --main-inner-text-box-color: #40444B;
    --main-inner-text-box-input-color: #DCDDDE;
}

#main {
    height: 450px;
    background-color: var(--main-inner-color);
    font-family: 'Roboto', sans-serif;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    position: relative;
}

#main #channels {
    background-color: var(--main-inner-channels-color);
    height: 100%;
    width: 220px;
    border-top-left-radius: 5px;
    overflow: hidden;
    user-select: none;
}

#main #channels #text {
    align-items: center;
    background-color: var(--main-inner-channels-channel-background-color);
    color: var(--main-inner-channels-channel-color);
    height: 7%;
    display: flex;
    cursor: default;
}

#main #channels #voice {
    align-items: center;
    color: var(--main-inner-channels-channel-color);
    height: 6%;
    display: flex;
    cursor: pointer;
}

#main #channels #voice:hover {
    background-color: var(--main-inner-channels-channel-background-color-hover);
}

#main #channels #text #icon {
    width: 24px;
    height: 24px;
}

#main #channels #voice #icon {
    width: 24px;
    height: 24px;
}

#main #channels .member-list {
    color: var(--main-inner-channels-member-list-color);
    margin-left: 20px;
    height: 76%;
}

#main #channels .voice-controls .content {
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-inner-channels-voice-controls-content-background-color);
    color: var(--main-inner-channels-voice-controls-content-color);
}

#main #channels .voice-controls .content #title {
    margin-right: 22px;
    font-size: 18px;
}

#main #channels .voice-controls button {
    background: 0;
    cursor: pointer;
    color: var(--main-inner-channels-voice-controls-button-color);
    margin-right: -41px;
    border: 0;
    outline: 0;
    height: 32px;
}

#main #channels .voice-controls button:hover {
    background: var(--main-inner-channels-voice-controls-button-background-hover);
}

#main #channels .member-list .member {
    align-items: center;
    display: flex;
    padding-bottom: 3%;
}

#main #channels .member-list .member.bot.speaking img {
    box-shadow: 0 0 0 2px green;
}

#main #channel-area {
    margin-left: 220px;
    position: absolute;
    height: 100%;
    width: 680px;
}

#main #messages {
    overflow: hidden;
    overflow-y: auto;
    max-height: 87%;
}

.discord-messages {
    border: none;
}

.discord-messages .discord-author-avatar img {
    user-select: none;
}

#main #messages::-webkit-scrollbar {
    width: 8px;
}

#main #messages::-webkit-scrollbar-track {
    background-color: var(--main-inner-messages-scrollbar-track-color);
    border-radius: 12px;
}

#main #messages::-webkit-scrollbar-thumb {
    background-color: var(--main-inner-messages-scrollbar-thumb-color);
    border-radius: 12px;
}

#main #text-area {
    position: absolute;
    bottom: 1px;
    width: 100%;
}

#main #text-area #mention-box {
    background-color: var(--main-inner-mention-box-color);
    margin-right: 14px;
    margin-left: 14px;
    border-radius: 5px 5px 0px 0px;
    user-select: none;
}

#main #text-area #mention-box #title {
    padding-bottom: 1px;
    padding-top: 1px;
    text-transform: uppercase;
    color: var(--main-inner-mention-box-title-color);
}

#main #text-area #mention-box #content {
    margin-left: 10px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    color: var(--main-inner-mention-box-content-color);
    padding: 0px 8px;
}

#main #text-area #mention-box #content[selected="true"] {
    background: grey;
}

#main #text-area #text-box {
    background-color: var(--main-inner-text-box-color);
    max-height: 200px;
    width: 97%;
    left: 2%;
    bottom: 2%;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-bottom: 2%;
}

#main #text-area #text-box #input:empty:before {
    content: "Enter command";
    color: grey;
    cursor: text;
}

#main #text-area #text-box #input {
    background: none;
    border: none;
    color: var(--main-inner-text-box-input-color);
    font-size: 1em;
    width: 98%;
    height: 98%;
    padding-top: 12px;
    padding-bottom: 12px;
    overflow-y: auto;
    max-height: 173px;
}

#main #text-area #text-box #input::-webkit-scrollbar {
    width: 5px;
}

#main #text-area #text-box #input::-webkit-scrollbar-track {
    background-color: var(--main-inner-messages-scrollbar-track-color);
    border-radius: 12px;
}

#main #text-area #text-box #input::-webkit-scrollbar-thumb {
    background-color: var(--main-inner-messages-scrollbar-thumb-color);
    border-radius: 12px;
}

#main #text-area #text-box #input:focus {
    outline: none;
}

img {
    border-radius: 50%;
    height: 24px;
}